node_modules
node_modules/*
_build
_build/*
some-bundled-outfile.yaml

.DS_Store

.idea

.*.icloud
/.vs

venv
venv/*

# Ignore sdk git repos:
client-sdk-*

.vercel

__pycache__
__pycache__/*

# Ignore node version manager
.nvmrc